{{ form_start(form) }}
{{ form_row(form.users) }}
{{ form_row(form.agence) }}
{{ form_row(form.service) }}
{{ form_row(form.allAgence) }}
{{ form_row(form.allService) }}

<div class="mb-3">
	{{ form_label(form.permissions) }}
	{{ form_widget(form.permissions) }}
	{{ form_errors(form.permissions) }}
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
