{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% set entity = 'AgenceServiceIrium' %}

{% block create %}
<turbo-stream action="append" target="agence_services">
    <template>
        <div id="{{ 'agence_service_' ~ id }}">
            #{{ id }} created
        </div>
    </template>
</turbo-stream>
{% endblock %}

{% block update %}
<turbo-stream action="update" target="agence_service_{{ id }}">
    <template>
        #{{ id }} updated
    </template>
</turbo-stream>
{% endblock %}

{% block remove %}
<turbo-stream action="remove" target="agence_service_{{ id }}"></turbo-stream>
{% endblock %}
