{# templates/macros/actions.html.twig #}

{% macro filter_buttons(reset_path, submit_text = 'Recherche', reset_text = 'Effacer') %}
	<div class="d-flex justify-content-end mb-2">
		{# Bouton pour réinitialiser/effacer le filtre #}
		<a href="{{ reset_path }}" class="btn btn-secondary fw-bold me-2">
			<i class="fas fa-eraser me-1"></i>
			{{ reset_text }}
		</a>

		{# Bouton pour soumettre le formulaire de recherche #}
		<button class="btn btn-warning fw-bold" type="submit">
			<i class="fab fa-searchengin me-1"></i>
			{{ submit_text }}
		</button>
	</div>
{% endmacro %}

{% macro simple_button(path, text, icon, class = 'btn-primary') %}
	<a href="{{ path }}" class="btn {{ class }} fw-bold">
		<i class="{{ icon }} me-1"></i>
		{{ text }}
	</a>
{% endmacro %}

{% macro submit_button(text, icon = null, class = 'btn-primary', with_confirmation = true, confirmation_message = null, warning_message = null, confirmation_text = null) %}
	<button 
		type="submit" 
		class="btn {{ class }} fw-bold"
		{% if with_confirmation %}
		data-controller="form-confirmation"
		data-form-confirmation-target="submitButton"
		data-action="click->form-confirmation#confirm"
		data-form-confirmation-confirmation-message-value="{{ confirmation_message ?: 'Êtes-vous sûr de vouloir soumettre ce formulaire ?' }}"
		data-form-confirmation-warning-message-value="{{ warning_message ?: 'Veuillez ne pas fermer l\'onglet durant le traitement.' }}"
		data-form-confirmation-confirmation-text-value="{{ confirmation_text ?: 'Cette action va enregistrer les données.' }}"
		{% endif %}
	>
		{% if icon %}<i class="{{ icon }} me-1"></i> {% endif %}
		{{ text }}
	</button>
{% endmacro %}
