{% extends "base.html.twig" %}

{% block title %}
	Création Casier - Etape 1
{% endblock %}

{% import "macros/form_macros.html.twig" as formMacro %}

{% block content %}
	<div class="container mt-6 mb-4">

		<div class="row">
			<div class="col-12 col-md-11">
				<h3 class="perso-titre">Nouvelle Casier Matériel</h3>
			</div>

			<div class=" col-12 col-md-1">
				<a href="{{ path("hf_materiel_casier_first_form_index")}}" class="tablinks p-2 btn btn-outline-warning btnRetour">Retour</a>
			</div>
		</div>
		<div class="row"></div>


		{{ form_start(form)}}


		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">{{ form_row(form.dateDemande)}}</div>
		</div>

		<div class="row">
			{{ formMacro.sousTitre('Caractéristiques du matériel', {class: 'sousTitre'})}}
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.designation)}}</div>
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.idMateriel)}}</div>
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.numSerie)}}</div>
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.numParc)}}</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.groupe)}}</div>
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.constructeur)}}</div>
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.modele)}}</div>
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.anneeDuModele)}}</div>
		</div>
		<div class="row d-flex">
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.affectation)}}</div>
			<div class="col-12 col-md-6 col-lg-3">{{ form_row(form.dateAchat)}}</div>
		</div>


		<div class="row">
			{{ formMacro.sousTitre('Nouveau casier', {class: 'sousTitre'})}}
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">{{form_row(form.agenceRattacher)}}</div>
		</div>
		<div class="row">
			<div class="col-12">{{ form_row(form.motif)}}</div>

		</div>
		<div class="row">
			<div class="col-12 col-md-6">{{ form_row(form.client, { 'attr': { 'class': 'limiteCarater'}})}}</div>
			<div class="col-12 col-md-6">{{ form_row(form.chantier, { 'attr': { 'class': 'limiteCarater'}})}}</div>
		</div>


		<div class="row">
			<div class="mt-2 ">
				{% import "macros/actions.html.twig" as actions %}
				{{ actions.submit_button('Envoyer', 'fa fa-print', 'btn-info md-5') }}
			</div>
		</div>
	</div>
{% endblock %}
